version: '3.7'

networks:
  nginx_net_bridge:
    external: true
  net_bridge:
    driver: bridge

services:
  mqnamesrv:
    image: foxiswho/rocketmq:4.7.0
    container_name: mqnamesrv
    ports:
      - 9876:9876
    environment:
      JAVA_OPT: -server -Xms256m -Xmx256m
    volumes:
      - ~/.data/rocketmq/mqnamesrv/logs:/opt/logs
      - ~/.data/rocketmq/mqnamesrv/store:/opt/store
    networks:
      - nginx_net_bridge
      - net_bridge
    command: sh mqnamesrv

  mqbroker:
    image: foxiswho/rocketmq:4.7.0
    container_name: mqbroker
    # ports:
    #   - 10909:10909
    #   - 10911:10911
    volumes:
      - ~/.data/rocketmq/mqbroker/logs:/opt/logs
      - ~/.data/rocketmq/mqbroker/store:/opt/store
      - ~/.data/rocketmq/mqbroker/brokerconf/broker.conf:/etc/rocketmq/broker.conf:ro
    environment:
      JAVA_OPTS: " -Duser.home=/opt"
      JAVA_OPT_EXT: "-server -Xms128m -Xmx128m -Xmn128m"
      NAMESRV_ADDR: "mqnamesrv:9876"
    depends_on:
      - mqnamesrv
    networks:
      - net_bridge
    command: mqbroker -c /etc/rocketmq/broker.conf

  mqconsole:
    image: styletang/rocketmq-console-ng
    container_name: mqconsole
    ports:
      - 8081:8080
    environment:
      JAVA_OPTS: "-Drocketmq.namesrv.addr=mqnamesrv:9876
        -Dcom.rocketmq.sendMessageWithVIPChannel=false"
    depends_on:
      - mqnamesrv
    networks:
      - net_bridge
